.documents-div {
    color: #98c1d9;
    margin-bottom: 20px;
}

.document-heading {
    margin-top: -80px;
    margin-bottom: 50px;
}

.documents-content {
    margin-top: 100px;
    text-align: center;
}

.document-specs {
    padding-left: 200px;
    padding-right: 20px;
    text-align: left;
    margin-left: -170px;
    font-weight: 700;
    font-size: 18px;
}

#document-italic {
    font-style: italic;
} 