.louns-way {
    height: 350px;
    padding-top: 30px;
    text-align: center;
    color: white;
    background-color: #6b6a6c;
}

.louns-way-content {
    padding-left: 11px;
    padding-right: 11px;
}