#masthead-specific {
    height: 98vw;
    text-decoration: none;
}

#masthead-phrase-1 {
    font-size: 40px;
    font-family: 'Gelasio', serif;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#banner-div {
  background-color: red;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#masthead-phrase-2 {
  margin-top:-10px;
}

@keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  // begin media queries

  @media (min-width: 421px) and (max-width: 900px) {
    #masthead-specific {
      height: 100vh;
      text-decoration: none;
    } 

    #masthead-phrase-2 {
      margin-top:-60px;
      
    }
  }  

  @media (min-width: 381px) and (max-width: 420px) {
    #masthead-specific {
      height: 198vw;
      text-decoration: none;
  }

  #masthead-phrase-2 {
    margin-top:110px;
  }
}
  @media (min-width: 250px) and (max-width: 380px) {
      #masthead-specific {
        height: 158vw;
        text-decoration: none;
    }
  }  