#main-nav {
    background-color: #6b6a6c;
}

#nav-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Gelasio', serif;
    font-size: 30px;
}

.phone-number {
    color: white;
    font-family: 'Gelasio', serif;
    margin-left: -280px;
}

.phone-icon {
    color: white;
    height: 30px;
    margin-right: 20px;
    width: 40px;
}

.menu-icon {
    color: white;
    height: 40px;
    margin-right: 5px;
    width: 40px;
}


@media (min-width: 200px) and (max-width: 421px) {
    .phone-number {
        display: none;
    }
}    

@media only screen and (min-width: 420px) {
    .phone-icon {
        display: none;
    }

    .menu-icon {
        display: none;
    }
}    