#main-nav {
    background-color: #6b6a6c;
}

#nav-text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Gelasio', serif;
    font-size: 30px;
}

.phone-icon {
    color: white;
    height: 40px;
    width: 40px;
}