#services {
    background-color: #98c1d9;
    color: white;
}

.dollar-container {
    background-color: white;
    border: 5px solid white;
    border-radius: 50%;
}

.services-dollar-icon {
    height: 90px;
    width: 90px;
    color: #98c1d9;
    margin-left: 5px;
    margin-bottom: 10px;
}

.hands-icon {
    height: 90px;
    width: 90px;
    color: #98c1d9;
    margin-left: 5px;
    margin-bottom: 10px;
}

#services-heading {
    margin-bottom: 70px;
    font-family: 'Inria Serif', serif;
    font-size: 50px;
}


#services-content {
    color: white;
    font-size: 18px;
}

@media (min-width: 200px) and (max-width: 615px) {
    #dollar-div {
        padding-top: 20px;
         margin-left: 20px;
         margin-right: 20px;
         border: 1px solid white;
    }

    #hands-div {
         margin-top: 50px;
         padding-top: 20px;
         margin-left: 20px;
         margin-right: 20px;
         border: 1px solid white;
    }
}    