#services {
    background-color: #98c1d9;
    color: white;
}

.services-dollar-icon {
    height: 90px;
    width: 90px;
}

#services-heading {
    margin-bottom: 70px;
    font-family: 'Inria Serif', serif;
}

#services-content {
    color: white;
    font-size: 18px;
}