#contact-page-container {
    padding-top: 100px;
    height: 66vh;
}

@media (min-width: 200px) and (max-width: 420px) {
    #contact-page-container {
        padding-top: 10px;
        height: 96vh;
    }
}    