.testimonial-container {
    text-align: center;
}

#testimonials-section {
    background-color:rgb(248, 249, 250);
}

.testimonial-heading {
    font-weight: 700;
    font-family: 'Inria Serif', serif;
}

.testimonial-statement {
    font-weight: 100;
    font-family: 'Inria Serif', serif;
}

.phone-container {
    text-align: center;
    margin-bottom: -60px;
}

.phone-number-heading {
    font-weight: 700;
    font-family: 'Inria Serif', serif;
    margin-top: 20px;
}

.offices {
    font-weight: 100;
    font-family: 'Inria Serif', serif;
    margin-top: 10px;
}

@media (min-width: 381px) and (max-width: 420px) {
    .testimonial-container {
        margin-bottom: -90px;
    }

    #testimonial-slider {
        height: 130px;
    }
    .testimonial-heading {
        border-left: 3px solid #98c1d9;
        margin-left: 20px;
        padding-right: 25px;
        font-weight: 700;
        font-family: 'Inria Serif', serif;
        font-size: 20px;
    }
    
    .testimonial-statement {
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 100;
        font-family: 'Inria Serif', serif;
        font-size: 15px;
    }
}    

@media (min-width: 250px) and (max-width: 380px) {
    .testimonial-container {
        margin-bottom: -90px;
    }

    #testimonial-slider {
        height: 130px;
    }
    .testimonial-heading {
        border-left: 3px solid #98c1d9;
        margin-left: 20px;
        padding-right: 15px;
        font-weight: 700;
        font-family: 'Inria Serif', serif;
        font-size: 20px;
    }
    
    .testimonial-statement {
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 100;
        font-family: 'Inria Serif', serif;
        font-size: 15px;
    }
}    